body{
    background-color: rgb(12, 5, 22);
    padding: 5%;
}

#card{  
    margin: auto;
    width: 600px;
    height: 450px;
    border-style: solid;
    border-width: 7.5px;
    border-color: rgb(131, 75, 117);    
    padding: 8px; 
    background-color: rgb(228, 226, 143);   
}

#tree{
    width: 600px;
    height: 392px;
}

#text{
    color: rgb(238, 67, 67);
    font-size: 45px;
    font-weight: 700;
    text-align: center;  
}