body{
    background-color: rgb(12, 5, 22);
    padding: 5%;
}


#card{  
    margin: auto;
    width: 600px;
    height: 450px;
    border-style: solid;
    border-width: 7.5px;
    border-color: rgb(131, 75, 117);    
    padding: 8px;
    padding-top: 10px; 
    background-color: rgb(228, 226, 143);   
}

#tree{
    width: 600px;
    height: 392px;
}

#text{
    color: rgb(238, 67, 67);
    font-size: 42px;
    font-weight: 700;
    text-align: center;  
} 


.snowflake {
    position: absolute;
    color: #fff;
    font-size: 21px;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
    animation: snowing 3s ease 0s infinite reverse;
} 

@keyframes snowing
{
    0% { margin-top: 378px; padding-left: 20px;}
  100% { margin-top: -0.05px; padding-right: 20px;}
}

.snowflake:nth-of-type(0){left:40%;-webkit-animation-delay:0s;animation-delay:0s}
.snowflake:nth-of-type(1){left:35%;-webkit-animation-delay:1.5s;animation-delay:1.5s}
.snowflake:nth-of-type(2){left:53%;-webkit-animation-delay:5s;animation-delay:5s}
.snowflake:nth-of-type(3){left:32%;-webkit-animation-delay:3.9s;animation-delay:3.9s}
.snowflake:nth-of-type(4){left:67%;-webkit-animation-delay:2.3s;animation-delay:2.3s}
.snowflake:nth-of-type(5){left:57%;-webkit-animation-delay:7s;animation-delay:7s}
.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6.1s;animation-delay:6.1s}
.snowflake:nth-of-type(7){left:38%;-webkit-animation-delay:2.5s;animation-delay:2.5s}
.snowflake:nth-of-type(8){left:47%;-webkit-animation-delay:1.2s;animation-delay:1.2s}
.snowflake:nth-of-type(9){left:64%;-webkit-animation-delay:3.3s;animation-delay:3.3s}
.snowflake:nth-of-type(10){left:44%;-webkit-animation-delay:2.6s;animation-delay:2.6s}
.snowflake:nth-of-type(11){left:50%;-webkit-animation-delay:4.4s;animation-delay:4.4s}