body{
    position: relative;
    background-color: rgb(30, 43, 68);
    padding: 12%;
}

div{  
    width: 600px;
    height: 450px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(190, 160, 160);    
}

p{
    color: rgb(194, 77, 77);
    font-size: 45px;
    text-align: center;
    padding-top: 300px;
}